html {
  font-family: sans-serif;
  background: #ffc600;
}
.inbox {
  background: #fff;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  max-width: 400px;
  border-radius: 5px;
  margin: 50px auto;
}
.items {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

p {
  padding: 20px;
  margin: 0;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
  transition: background 0.2s;
}

input[type="checkbox"] {
  margin: 20px;
}

input:checked + p {
  background: #F9F9F9;
  text-decoration: line-through;
}